In [1]:
from simplevec0 import *

In [2]:
#import matplotlib.pyplot as plt

In [3]:
#############################################################################
#############################################################################

In [4]:
#############################################################################
#############################################################################

In [5]:
vec1 = user2vec['U0001']
vec2 = item2vec['I0001'] 

vec1 = np.array([vec1])
vec2 = np.array([vec2]) 

VecDist(vec1,vec2)

array([23.75613312226366], dtype=object)

In [6]:
print(vec1.shape)
print(vec2.shape)

(1, 6)
(1, 6)

In [7]:
#############################################################################
#############################################################################

In [8]:
#############################################################################
#############################################################################

In [9]:
RevDF['SALE'].mean()

0.4436598283314056

In [10]:
RevDF['SALE'].sum() / RevDF['UID'].nunique()

14.576

In [11]:
#RevDF.head(10)

In [12]:
RevDF.columns

Index(['UID', 'IID', 'DIST', 'DPER', 'AFFIN', 'RATING', 'SALE'], dtype='object')

In [13]:
#cols = ['UID', 'IID','RATING']
#RevDF2 = RevDF[cols].copy()

In [14]:
#RevDF2.head(10)

In [15]:
Sales = RevDF[RevDF['SALE']==1].copy() 
Sales = RevDF.copy()

In [16]:
Sales

         UID    IID       DIST      DPER     AFFIN  RATING  SALE
0      U0001  I0001  23.756133  0.803549  0.038593       1     0
1      U0001  I0002  17.081896  0.313487  0.471300       5     0
2      U0001  I0016  22.439470  0.717408  0.079858       2     0
3      U0001  I0022  21.782115  0.672754  0.107090       2     0
4      U0001  I0027  17.205285  0.322923  0.458433       5     0
...      ...    ...        ...       ...       ...     ...   ...
32849  U1000  I0375  15.254423  0.201686  0.637305       7     1
32850  U1000  I0434  25.402937  0.884303  0.013386       1     0
32851  U1000  I0446  20.867909  0.601406  0.158877       2     1
32852  U1000  I0462  22.234182  0.703832  0.087715       2     0
32853  U1000  I0464  26.348181  0.920373  0.006341       1     0

[32854 rows x 7 columns]

In [17]:
# ['UID' ,'IID' ,'SALE']
# ['ENT1','ENT2','SCORE']

In [18]:
#############################################################################
#############################################################################
#############################################################################