In [2]:
from simplevec0 import *

In [20]:
import matplotlib.pyplot as plt

In [3]:
#############################################################################
#############################################################################

In [4]:
#############################################################################
#############################################################################

In [5]:
vec1 = user2vec['U0001']
vec2 = item2vec['I0001'] 

vec1 = np.array([vec1])
vec2 = np.array([vec2]) 

VecDist(vec1,vec2)

array([20.982702146351553], dtype=object)

In [6]:
print(vec1.shape)
print(vec2.shape)

(1, 6)
(1, 6)

In [7]:
#############################################################################
#############################################################################

In [8]:
#############################################################################
#############################################################################

In [9]:
RevDF['SALE'].mean()

0.44231735058642796

In [10]:
RevDF['SALE'].sum() / RevDF['UID'].nunique()

14.972

In [11]:
#RevDF.head(10)

In [12]:
RevDF.columns

Index(['UID', 'IID', 'DIST', 'DPER', 'AFFIN', 'RATING', 'SALE'], dtype='object')

In [13]:
#cols = ['UID', 'IID','RATING']
#RevDF2 = RevDF[cols].copy()

In [14]:
#RevDF2.head(10)

In [15]:
Sales = RevDF[RevDF['SALE']==1].copy() 
Sales = RevDF.copy()

In [16]:
Sales

         UID    IID       DIST      DPER     AFFIN  RATING  SALE
0      U0001  I0004  23.757114  0.817330  0.033368       1     0
1      U0001  I0010  12.213262  0.081098  0.844381       9     1
2      U0001  I0019  27.970819  0.964045  0.001293       1     0
3      U0001  I0020  19.147452  0.488064  0.262078       3     1
4      U0001  I0033  27.177372  0.947885  0.002716       1     0
...      ...    ...        ...       ...       ...     ...   ...
33844  U1000  I0415  15.429932  0.224504  0.601395       6     1
33845  U1000  I0427  19.739682  0.533975  0.217179       3     0
33846  U1000  I0435  19.922157  0.547359  0.204884       3     1
33847  U1000  I0449  16.728500  0.309058  0.477401       5     1
33848  U1000  I0476  18.771790  0.460529  0.291029       4     0

[33849 rows x 7 columns]

In [17]:
# ['UID' ,'IID' ,'SALE']
# ['ENT1','ENT2','SCORE']

In [18]:
#############################################################################
#############################################################################
#############################################################################

In [19]:
x = 1